@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --color-yu-beige: #F5EFE6;
  --color-yu-green: #6B8E23;
  --color-yu-brown: #4B3621;
  --color-yu-black: #2C2C2C;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-yu-beige);
    color: var(--color-yu-black);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
  }
}